.ctools-locked{color:red;border:1px solid red;padding:1em;}.ctools-owns-lock{background:#FFFFDD none repeat scroll 0 0;border:1px solid #F0C020;padding:1em;}a.ctools-ajaxing,input.ctools-ajaxing,button.ctools-ajaxing,select.ctools-ajaxing{padding-right:18px !important;background:url(/web/20180817105637im_/http://semanticclarity.com/sites/all/modules/ctools/images/status-active.gif) right center no-repeat;}div.ctools-ajaxing{float:left;width:18px;background:url(/web/20180817105637im_/http://semanticclarity.com/sites/all/modules/ctools/images/status-active.gif) center center no-repeat;}

/*
     FILE ARCHIVED ON 10:56:37 Aug 17, 2018 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 00:11:33 Nov 10, 2020.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 128.805
  exclusion.robots: 0.118
  exclusion.robots.policy: 0.107
  RedisCDXSource: 2.224
  esindex: 0.01
  LoadShardBlock: 98.672 (3)
  PetaboxLoader3.datanode: 84.854 (5)
  CDXLines.iter: 25.007 (3)
  load_resource: 148.13 (2)
  PetaboxLoader3.resolve: 53.959 (2)
*/