{
  "presets": [
    ["@babel/preset-env", {
      "targets": {
        "browsers": ["firefox >= 75", "chrome >= 80", "ios >= 13.4"]
      },
      "debug": true,
      "modules": false
    },
    "@babel/preset-react"
    ]
  ],
  "plugins": [
    ["@babel/plugin-transform-react-jsx", {
      "pragma": "Elements.createElement",
      "pragmaFrag": "'fragment'",
      "useSpread": true
    }],
    ["transform-class-properties", { "spec": true }],
    "babel-plugin-remove-template-literals-whitespace"
  ],
  "comments": false,
  "env": {
    "production": {
      "plugins": [
        ["transform-remove-console", { "exclude": [ "error", "warn"] }]
      ]
    },
    "test": {
      "plugins": [
        ["transform-remove-console", { "exclude": [ "info", "error", "warn"] }]
      ],
      "presets": [
        ["@babel/preset-env", {
          "targets": {
            "node": "12"
          },
          "debug": true,
          "modules": false
        },
        "@babel/preset-react"
        ]
      ]
    }
  }
}
