/* set these for the app's branding */
:root {
  --primary-color: #607D8B;
  --primary-color-dark: #455A64;
  --primary-color-light: #90A4AE;
  --secondary-color: #2196F3;
  --secondary-color-dark: #1976D2;
  --secondary-color-light: #90CAF9;
  --background-color: #181818;
  --app-color: #212121;
  --panel-color: #212121;
  --table-background: #101010;
  --app-text: rgba(255,255,255,0.85);
  --border-color: rgba(255,255,255,0.2);
}

body {
  color: var(--light-text);
}
