/* Main CSS for app - light mode */
:root {
  --primary-color: #03A9F4;
  --primary-color-darker: #B3E5FC;
  --primary-color-dark: #4FC3F7;
  --primary-color-light: #0277BD;
  --secondary-color: #FFB300;
  --secondary-color-dark: #FFD54F;
  --secondary-color-light: #FF6F00;
  --background-color: #F5F5F5;
  --app-color: #EEEEEE;
  --panel-color: #E0E0E0;
  --app-text: rgba(0,0,0,0.85);
  --border-color: rgba(0,0,0,0.2);
}

/* app stuff */

body {
  color: var(--app-text);
  font-family: "Roboto", "Helvetica Neue", "Helvetica", "Arial Nue", "Arial", "sans-serif";
}

.logo {
  background: url("../images/logo.png") 100% center no-repeat;
  background-size: contain;
}

.about > figure.logo {
  width: 4rem;
  height: 4rem;
  margin: auto;
}

.main {
  &.panel {
    height: calc(100vh - 5rem);
    overflow: auto;
    margin: 0;
  }
}

/* recolor based on my choices */
button {
  margin: 0;
  &.secondary {
    color: var(--dark-text);
  }
}

.buttonBar {
  margin: 1rem 0;
  padding: 1rem 0;
  border-top: 1px solid var(--border-color);
  border-bottom: 1px solid var(--border-color);

  text-align: center;
}

/* add blur to menu and dialog backgrounds */
.blur, .wrapper .material-design-hamburger.model .material-design-hamburger__icon {
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
}

.home {
  .hero {
    background: url("../images/dreamstime.jpg") 50% center no-repeat;
    background-size: contain;
  }
}

.header {
  display: flex;
  flex-direction: row;
  margin: 0;

  .navigation {
    ul {
      li {
        padding: 0.75rem 0.5rem;
        color: var(--app-text);
        text-align: right;

        i {
          color: var(--app-text);
          padding-right: 0.25rem;
        }
      }
    }
  }
}

@import "./navigation.scss";

/* Dark mode */
@media (prefers-color-scheme: dark) {
  @import "~presentation-css-dark";
  @import "./darkmode-local.scss";
}
