/* Main CSS for app - light mode */
:root {
  --primary-color: #009688;
  --primary-color-darker: #004D40;
  --primary-color-dark: #00796B;
  --primary-color-light: #4DB6AC;
  --secondary-color: #FFEB3B;
  --secondary-color-dark: #FBC02D;
  --secondary-color-light: #FFF176;
  --background-color: #F5F5F5;
  --app-color: #EEEEEE;
  --panel-color: #E0E0E0;
  --table-background: #E0E0E0;
  --app-text: rgba(0,0,0,0.85);
  --border-color: rgba(0,0,0,0.2);

  --dock-color: rgba(0,0,0,0.1);
  --dock-text: rgba(0,0,0,0.85);
  --dock-border: rgba(255,255,255,0.85);
}

/* app stuff */

body {
  color: var(--app-text);
  font-family: "Roboto", "Helvetica Neue", "Helvetica", "Arial Nue", "Arial", "sans-serif";
}

.logo {
  background: url("../images/elements.png") 100% center no-repeat;
  background-size: contain;
}

.about > figure.logo {
  width: 4rem;
  height: 4rem;
  margin: auto;
}

.main {
  &.panel {
    height: calc(100vh - 7rem);
    overflow: auto;
  }
}

form {
  display: block;
  position: relative;
  margin: 0 auto;
  width: 20rem;
}

/* recolor based on my choices */
button {
  margin: 0;
  &.secondary {
    color: var(--dark-text);
  }
}

/* add blur to menu and dialog backgrounds */
.blur, .wrapper .material-design-hamburger.model .material-design-hamburger__icon {
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
}

.dock {
  text-align: center;
  background-color: var(--dock-color);
  width: auto;
  height: 3rem;
  margin: 0.5rem auto;
  border-radius: 0.5rem;
  border: 1px solid var(--dock-border);
  position: fixed;
  bottom: 1rem;
  /* left: calc(50% - 14.75rem); */
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);

  button {
    display: inline-block;
    border: none;
    box-shadow: none;
    vertical-align: top;
    background-color: transparent;
    margin: 0;
    position: relative;
    top: 0.4rem;
    left: auto;
    right: auto;
    color: var(--dock-text);
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);

    &:hover {
      color: var(--secondary-color-dark);
      background-color: transparent;
    }

    &.highlight {
      background-image: url("../images/dot-dark.png");
      background-size: 100% 100%;
      background-repeat: no-repeat;
      background-position-y: bottom;
    }

    > i.material-icons {
      font-size: 2rem;
    }
  }
}

/* Dark mode */
@media (prefers-color-scheme: dark) {
  @import "~presentation-css-dark";
  @import "./darkmode-local.scss";
}
